*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}
.top_banner {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    background-color: black;
    height: 450px;
    border-radius: 25px;
    width: 90%;

}

.box {
    color: #DD0000;
    text-decoration: none;
}

.top_banner_text {
    color: white; 
}

.top_banner_text h1{
    font-size: 48px;

}


.top-banner-image{
    
    padding-left: 10%;
    
}
.top-banner-image img{
    height: 430px;
    padding-top: 20px;
    
}

.container_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    
}

.player2 {
    background-color: #161616;
}

.button{
    text-decoration: none;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 50px;
    
    padding: 5px 80px;
}

.margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: #FFFFFF;
    margin: 20px;

}

p {
    color: #FFFFFF;
    margin: 20px;
}

.bb {
    margin-left: 40px;
}

.aa {
    color: gray;
    font-size: 10px;
    margin-left: 50px;
}

#link {
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;


}



#link2 {
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
    width: 100%;

}

#link3 {
    background-color: #faf6f6;
    color: #101010;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

}

.center {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;

}




footer {
    padding-top: 30px;
    background-color: black;
    text-align: center;
    height: 200px;
    color: #FFFFFF;

}

footer h1{
    font-size: 38px;
}

.lineAyay {
    display: inline;

}